@model IEnumerable<NinthProject.Students>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Related Students";
}

<h1>Related Students</h1>

<div>
    <h4>Students List</h4>
    <hr />
@foreach (var item in Model)
{
        <dl class="row">
           <dt class = "col-sm-2">
            @Html.DisplayNameFor(item => item.StudentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(modelItem => item.StudentId)
            @Html.DisplayFor(modelItem => item.FirstName)
            @Html.DisplayFor(modelItem => item.LastName)
        </dd>
         </dl>
}
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
