@{
    ViewData["Title"] = "Menu";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://localhost:7020/courses">Check courses</a></p>
</div>

<div class ="text-center">
    <p><a href="https://localhost:7020/groups">Check groups</a></p>
</div>

<div class ="text-center">
    <p><a href="https://localhost:7020/students">Check students</a></p>
</div>
